{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<div class="container  min-vh-100 d-flex align-items-center justify-content-center">
		<div class="row w-100 justify-content-center">

			<div class="col-6">
				<div class="login-purple-pink p-3 shadow-lg rounded mt-5 mb-5">
					<div class="pt-3">
						<h2 class="text-white text-center">Se connecter</h2>
					</div>

					<!-- Formulaire de connexion -->
					<form method="post" class="mt-5">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté(e) en tant que
								{{ app.user.userIdentifier }},
								<a href="{{ logout_path() }}">Me déconnecter</a>
							</div>
						{% endif %}
						<div class="mb-3 mt-3">
							<input type="email" class="form-control form-control-sm bg-light" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus placeholder="Email">
						</div>

						<div class="mb-3 mt-3">
							<input type="password" class="form-control  form-control-sm bg-light" name="password" id="inputPassword" autocomplete="current-password" required placeholder="Mot de passe">

						</div>

						<input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('admin_authenticate') }}">

						<div class="form-group mb-3">
							<input type="checkbox" class="form-check-input" name="_remember_me" id="rememberCheckBox">
							<label class="form-check-label text-light" for="rememberCheckBox">
								Se souvenir de moi
							</label>
						</div>
						<div class="mt-5">
							<button class="btn btn-sm btn-light w-100" type="submit">
								se connecter
							</button>
						</div>
						<div
							class="text-center mt-2"><!---<a href="{#{{ path('app_forgot_password_request') }}#}" class="text-warning">Mot de passe oublié?</a>-->
						</div>
						<div class="text-warning">
							<p class="text-white text-center">
								Vous n'avez pas de compte ?
								<a href="{{ path('app_register') }}" class="text-warning">Clique ici pour t'inscrire</a>
							</p>
						</div>


					</form>
				</div>
			</div>
		</div>

	</div>

{% endblock %}
